/* General setup for Waybar */
window#waybar {
    border: none;
    background-color: transparent;
}

/* Properly space system controls */
#system {
    font-size: 17px;
    margin: 1px 5px 0px 5px;
    color: rgba(41, 218, 224, 1);
}

/* Make sure microphone and screenshare indicators are easily visible */
#privacy-item {
    color: orange;
    margin-left: 4px;
    padding: 1px 0px 0px 4px;
    border-left: 2px solid rgba(41, 218, 224, 0.6);
}

/* Style all modules to have proper margins and borders */
#tray, #clock, #stats, #window, #controls, #custom-weather {
    margin: 2px 3px;
    font-weight: 500;
    padding: 0px 4px;
    border-radius: 16px;
    background-color: transparent;
    border: 2px solid rgba(41, 218, 224, 0.6);
}

/* Hide title box when empty */
window#waybar.empty #window { border: none; }

/* Tweak the styles of various modules to be just right */
#window { font-weight: 600; }
#clock { padding-top: 1.5px; }
#stats { padding-right: 0px; }
#pulseaudio { margin-top: 2px; }
#cpu, #tray, #memory, #temperature { padding-top: 2px; }
#cpu, #mpris, #privacy, #temperature { margin-right: 5px; }

/* Add spacers between System Stats and Media Controls */
#cpu { padding-right: 5px; border-right: 2px solid rgba(41, 218, 244, 0.6); }
#memory { padding-left: 5px; border-left: 2px solid rgba(41, 218, 244, 0.6); }
#mpris { padding-right: 5px; border-right: 2px solid rgba(41, 218, 244, 0.6); }
